* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 40px;
}

.container {
  background-color: white;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  grid-gap: 16px;
  justify-content: center;
  /* padding: initial; */
}

.item {
  padding: 20px 40px;
}

@media screen and (max-width: 586px) {
  body {
    padding-left: 8px;
    padding-right: 8px;
  }
}
